@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

@supports (-webkit-touch-callout: none) {
  .h-screen-safari {
    height: -webkit-fill-available;
    -webkit-touch-callout: none;
  }
}
